# Exercise # 2 - Linear Regression
Data file: salaries.csv

### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

### Load data

In [2]:
# Read data file (salaries.csv) into a dataframe
df = pd.read_csv('salaries.csv')

### Examine data

In [3]:
# Review dataframe shape
df.shape

(30, 2)

In [4]:
# Review first 10 rows
df.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

### Separate independent and dependent variables
* Independent variable: YearsExperience
* Dependent variable: Salary

In [5]:
X = df['YearsExperience']
y = df['Salary']

### Split data into training and test sets

In [18]:
# 70% training set, 30% test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
X_train = X_train.values.reshape(-1,1)
y_train = y_train.values.reshape(-1,1)
X_test = X_test.values.reshape(-1,1)
y_test = y_test.values.reshape(-1,1)

### Train a Linear Regression model on the training set

In [19]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

### Predict the test set results

In [24]:
y_pred = model.predict(X_test)
y_pred

array([[45624.9799639 ],
       [55075.94772408],
       [91934.7219888 ],
       [52240.65739603],
       [81538.6574526 ],
       [43734.78641186],
       [53185.75417205],
       [80593.56067658],
       [62636.72193223]])

In [25]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(mse)
print(rmse)

46154728.55653165
6793.727147636388

In [31]:
model.score(X_test, y_test)

0.87962600556046