# Homework # 1 - Logistic Regression
Data file: breast_cancer_diagnosis.csv

### Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

### Load data

In [2]:
# Read data from file (breast_cancer_diagnosis.csv) into dataframe
df = pd.read_csv('breast_cancer_diagnosis.csv')

### Examine data

In [3]:
# Review dataframe shape
df.shape

(569, 13)

In [4]:
# Display first 10 rows
df.head(10)

,id,name,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,ID842302,Glynnis Munson,NaN,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,ID842517,Lana Behrer,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,ID84300903,Devondra Vanvalkenburgh,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,ID84348301,Glory Maravalle,NaN,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,ID84358402,Mellie Mccurdy,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
5,ID843786,Merle Yelon,NaN,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613,39,1
6,ID844359,Corrianne Banzett,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742,38,1
7,ID84458202,Noni Marcellino,NaN,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451,28,1
8,ID844981,Kacy Meltzer,NaN,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.2350,0.07389,50,1
9,ID84501001,Elka Ortolani,NaN,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.2030,0.08243,60,1

Note: NaN in radius column

### Prepare data

### Check for missing values

In [5]:
df.isnull().sum()

id                    0
name                  0
radius               71
texture               0
perimeter             0
area                  0
smoothness            0
compactness           0
concavity             0
symmetry              0
fractal_dimension     0
age                   0
diagnosis             0
dtype: int64

### Handle missing values
Remember to use "inplace=True"

In [6]:
# Figure out strategy to replace values where radius is NaN
average_radius = df['radius'].mean()
average_radius

14.32663453815262

In [7]:
# Replace values where radius is NaN based on above strategy
df['radius'].fillna(average_radius, inplace = True)
df.head()

,id,name,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,ID842302,Glynnis Munson,14.326635,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871,35,1
1,ID842517,Lana Behrer,20.570000,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667,27,1
2,ID84300903,Devondra Vanvalkenburgh,19.690000,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999,31,1
3,ID84348301,Glory Maravalle,14.326635,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744,49,1
4,ID84358402,Mellie Mccurdy,20.290000,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883,20,1

### Check for missing values again

In [8]:
df.isnull().sum()

id                   0
name                 0
radius               0
texture              0
perimeter            0
area                 0
smoothness           0
compactness          0
concavity            0
symmetry             0
fractal_dimension    0
age                  0
diagnosis            0
dtype: int64

### Drop non-numeric variables
Remember to use "inplace=True"

In [9]:
df.dtypes

id                    object
name                  object
radius               float64
texture              float64
perimeter            float64
area                 float64
smoothness           float64
compactness          float64
concavity            float64
symmetry             float64
fractal_dimension    float64
age                    int64
diagnosis              int64
dtype: object

In [10]:
df.drop(columns = ['id', 'name'], inplace = True)

### Review updated dataframe

In [11]:
# Display first 10 rows
df.head(10)

,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,14.326635,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,20.570000,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,19.690000,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,14.326635,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,20.290000,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
5,14.326635,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613,39,1
6,18.250000,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742,38,1
7,14.326635,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451,28,1
8,14.326635,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.2350,0.07389,50,1
9,14.326635,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.2030,0.08243,60,1

### Separate independent and dependent variables
* Independent variables: All remaining variables except Diagnosis
* Dependent variable: Diagnosis

In [12]:
# Prepare dataset for model training
X = df.drop(columns = 'diagnosis')
y = df['diagnosis']

### Split data into training and test sets

In [13]:
# Split data into training data and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

### Train model

In [14]:
# Train model
model = LogisticRegression(max_iter = 150)
model.fit(X_train, y_train)

/Users/taohidshadat/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=150)

### If above results in error, review error message, look up documentation for LogisticRegression, and change model hyperparameter appropriately

In [15]:
# Train model again
model = LogisticRegression(max_iter = 150, solver = 'newton-cg')
model.fit(X_train, y_train)

LogisticRegression(max_iter=150, solver='newton-cg')

### Test model

In [16]:
# Generate predictions against the test set
predictions = model.predict(X_test)
predictions

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0])

### Model evaluation

In [17]:
# Print classification report
pd.DataFrame(classification_report(y_test, predictions, output_dict=True))

                    0          1  accuracy   macro avg  weighted avg
precision    0.927273   0.918033  0.923977    0.922653      0.923815
recall       0.953271   0.875000  0.923977    0.914136      0.923977
f1-score     0.940092   0.896000  0.923977    0.918046      0.923590
support    107.000000  64.000000  0.923977  171.000000    171.000000

In [18]:
# Print model accuracy
accuracy_score(y_test, predictions)

0.9239766081871345